In [1]:
from amplpy import AMPL

ampl = AMPL()

ampl.read("knapsack.mod")
ampl.read_data("knapsack.dat")
ampl.option["solver"] = "gurobi"
ampl.solve()

Gurobi 11.0.1:Gurobi 11.0.1: optimal solution; objective 280
0 simplex iterations

In [2]:
ampl.get_data("x").to_pandas()

   x
1  1
2  1
3  1
4  1
5  0
6  1
7  0
8  0